// Common properties
$flag-width: 9em;
$flag-height: $flag-width*10/16;

// Three thirds flag
@function thirds($first, $second, $last, $or: 90deg){
  @return linear-gradient($or, $first 33.3%, $second 33.3%, $second 66.6%, $last 66.6%);
}

// Two halfs flag
@function halfs($first, $second, $or: -180deg){
  @return linear-gradient($or, $first 50%, $second 50%);
}

// Crossed flag, with or without detail
@function cross($back, $main, $detail: $back){
  @return linear-gradient(90deg, transparent 28%, $main 28%, $main 34%, transparent 34%),
    linear-gradient(transparent 42%, $detail 42%, $detail 46%, $main 46%, $main 58%, $detail 58%, $detail 62%, transparent 62%),
    linear-gradient(90deg, $back 25%, $detail 25%, $detail 28%, $main 28%, $main 34%, $detail 34%, $detail 37%, $back 37%);
}

%flag{
  width: $flag-width;
  height: $flag-height;
  border: 1px solid #999;
  display: inline-block;
  position: relative;
  margin: 1em;
  box-shadow: 1px 1px 1px #CCC;
  transition: all .5s;
  
  // &::after{
  //   content: attr(class);
  //   line-height: 1em
  // }
  
  &:hover{
    transform: scale(1.5);
  }
}


//Exceptions (not functions)

.flag--spain{
  @extend %flag;
  background: linear-gradient(red 25%, yellow 25%, yellow 75%,  red 75%);
}


.flag--switzerland{
  @extend %flag;
  background: linear-gradient(red 20%, transparent 20%, transparent 80%, red 80%),
    linear-gradient(90deg, red 30%, transparent 30%, transparent 45%, white 45%, white 55%, transparent 55%, transparent 70%, red 70%),
    linear-gradient(red 42%, white 42%, white 58%, red 58%);
}




// Made with functions

.flag--ireland{
  @extend %flag;
  background: thirds(#00ae00, white, orange);
}

.flag--italy{
  @extend %flag;
  background: thirds(#00ae00, white, red);
}

.flag--belgium{
  @extend %flag;
  background: thirds(black, yellow, red);
}

.flag--france{
  @extend %flag;
  background: thirds(mediumblue, white, red);
}

.flag--romania{
  @extend %flag;
  background: thirds(mediumblue, yellow, red);
}

.flag--germany{
  @extend %flag;
  background: thirds(black, red, gold, -180deg);
}

.flag--russia{
  @extend %flag;
  background: thirds(white, mediumblue, red, -180deg);
}


.flag--bulgaria{
  @extend %flag;
  background: thirds(white, green, red, -180deg);
}


.flag--netherlands{
  @extend %flag;
  background: thirds(red, white, mediumblue, -180deg);
}

.flag--lithuania{
  @extend %flag;
  background: thirds(gold, green, red, -180deg);
}

.flag--austria{
  @extend %flag;
  background: thirds(red, white, red, -180deg);
}


.flag--hungary{
  @extend %flag;
  background: thirds(red, white, green, -180deg);
}

.flag--estonia{
  @extend %flag;
  background: thirds(royalblue, darken(royalblue, 30%), white, -180deg);
}


.flag--poland{
  @extend %flag;
  background: halfs(white, red);
}

.flag--ukraine{
  @extend %flag;
  background: halfs(royalblue, yellow);
}

.flag--denmark{
  @extend %flag;
  background: cross(red, white);
}


.flag--iceland{
  @extend %flag;
  background: cross(mediumblue, red, white);
}

.flag--norway{
  @extend %flag;
  background: cross(red, blue, white);
}

.flag--finland{
  @extend %flag;
  background: cross(white, blue, blue);
}


.flag--sweden{
  @extend %flag;
  background: cross(mediumblue, yellow, yellow);
}

.flag--china {
  $unit: $flag-width/32;

  @extend %flag;
  height: $unit * 20;
  background: red;

  .star {
    position: absolute;
    color: yellow;
    text-align: center;

  }
  .star.big {
    width: $unit * 6;
    height: $unit * 6;
    font-size: $unit * 6;
  }
  .star.small {
    width: $unit * 2;
    height: $unit * 2;
    font-size: $unit * 2;
  }
}

.flag--us {
  $height: $flag-width / 1.9;
  $hUnit: $height * 0.0538;
  $wUnit: $height * 0.0633;

  @extend %flag;
  height: $height;
  background-image:
      linear-gradient(0deg, #3C3B6E, #3C3B6E),
      repeating-linear-gradient(180deg,
          #B22234, #B22234 7.7%, white 7.7%, white 15.4%);
  background-size: 40% 53.85%, 100% 100%;
  background-repeat: no-repeat;
  background-position: top left;

  .star {
    $size: $height * 0.0616;
    text-align: center;
    color: white;
    position: absolute;
    font-size: $size;
    line-height: 100%;
    height: $size;
    width: $size;
  }
}

.flag--uk {
  $height: $flag-width / 2;
  $unit: $flag-width / 60;

  @extend %flag;
  height: $height;
  background: #002776;
  position: relative;
  overflow: hidden;

  .white {
    position: absolute;
    background: #FFFFFF;
  }
  .red {
    position: absolute;
    background: #C60C30;
  }
  .white.row {
    z-index: 2;
    height: $unit * 10;
    width: 100%;
    top: $unit * 10;
    left: 0
  }
  .white.col {
    z-index: 2;
    height: 100%;
    width: $unit * 10;
    top: 0;
    left: $unit * 25;
  }
  .red.row {
    z-index: 4;
    height: $unit * 6;
    width: 100%;
    top: $unit * 12;
    left: 0
  }
  .red.col {
    z-index: 4;
    height: 100%;
    width: $unit * 6;
    top: 0;
    left: $unit * 27;
  }

  .white.diangle {
    z-index: 1;
    height: $unit * 6;
    width: $unit * 67.08;
    top: $unit * 12;
    left: - $unit * 7.08 / 2;
    &.left {
      transform: rotate(-26.565deg);
    }
    &.right {
      transform: rotate(26.565deg);
    }
  }

  .red.left.row {
    height: $unit * 2;
    width: $unit * 67.08 / 2;
    top: $unit * 3;
    left: 0;
  }
  .red.right.row {
    height: $unit * 2;
    width: $unit * 67.08 / 2;
    top: $unit;
    left: $unit * 30 + $unit * 7.08 / 2;
  }
}

.flag--south-korea {
  @extend %flag;
}
